In [2]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from keras import Sequential
from tensorflow import keras
import os

In [3]:
Data = pd.read_csv('Sample-Dataset-Sheet4.csv')

In [4]:
Data

,Unnamed: 0,BranchCode,LoanTerm,Gender,HomeType,FamilyMember,TotalWealth,PrincipalLoan,Frequency,PurposeCode,...,DFS_Status,Deposit,Withdrawal,Balance,duedays,DueType,LoanStatus,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,0,80,1,0,0,4,46,500000,0,10.550,...,1,0,0,0,180,3,0,NaN,NaN,NaN
1,1,80,3,0,2,5,1,70000,2,1.290,...,1,0,0,0,0,2,0,NaN,NaN,NaN
2,2,80,2,0,2,5,1,40000,2,1.640,...,1,0,0,0,0,2,0,NaN,NaN,NaN
3,3,80,1,0,2,5,46,200000,0,1.133,...,1,0,0,0,660,0,0,NaN,NaN,NaN
4,4,80,2,0,3,6,46,60000,2,1.152,...,1,0,0,0,0,2,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2348,2348,80,1,0,3,3,21,50000,2,1.770,...,1,10500,0,10929,0,2,1,NaN,NaN,NaN
2349,2349,80,3,1,1,4,47,100000,0,5.152,...,0,18000,0,18530,0,2,1,NaN,NaN,NaN
2350,2350,80,4,1,1,4,47,400000,0,5.152,...,0,18000,0,18530,0,2,1,NaN,NaN,NaN
2351,2351,80,1,1,1,5,21,500000,0,5.152,...,0,1000,0,1000,0,2,1,NaN,NaN,NaN
2352,2352,80,2,1,0,3,21,500000,0,5.152,...,1,24000,0,24165,0,2,1,NaN,NaN,NaN

In [5]:
Data = tf.keras.datasets.mnist

In [6]:
(x_train, y_train),(x_test, y_test) =Data.load_data()

In [7]:
x_test.shape

(10000, 28, 28)

In [8]:
x_train.shape

(60000, 28, 28)

In [9]:
x_train, x_test = x_train/255, x_test/255

In [1]:
model = Sequential()
model.add(Conv2D(filters=32, kernel_size=(3, 3), activation='relu', input_shape=input_shape))

NameError: name 'Sequential' is not defined

In [11]:
model = tf.keras.models.Sequentaial([
    tf.keras.layers.Flatten(input_shape(28, 28)),
    tf.keras.layers.Dense(128, activation ='relu'),
    tf.keras.layers.dropout(0.2),
    tf.keras.layers.dense(10, activation ='softmax')
])

AttributeError: module 'keras.api._v2.keras.models' has no attribute 'Sequentaial'

In [ ]:
model.compile(optimizer ='adam',
             loss ='sparse_categorical_crossenttropy',
             matrics= ['accuracy']
             )

In [ ]:
modell.fit(x_train, y_train,epochs=5)

In [ ]:
model.evaluate(x_test, y_test)